.home {
  background-image: url(./tuki/wa/bg.jpg);
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin: -8px;
  background-position: center;
}

.home img {
  width: 800px;
  padding-top: 300px;
}

.bg {
  background-color: #8e835f;
  margin: -30px -8px;
}

.slogan .content .img {
  width: 40%;
  padding: 10px;
}

.slogan .content .img img {
  height: auto;
  width: 100%;
}

.slogan {
  margin: 30px 150px 30px 150px;
  background-color: rgba(0, 0, 0, 0.325);
  border-radius: 30px;
  padding: 15px 50px 15px 50px;
  color: white;
}

.slogan h1 {
  margin: 0px;
  font-size: 50px;
}

.slogan .content {
  display: flex;
  align-items: center;
}

.slogan .content .text {
  width: 60%;
  border-left: 5px solid white;
  padding: 20px;
}
.slogan .content .text a{
  color: white;
}