.header{
  background-image: url(./tuki/wa/bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: -8px; /*変更した 周りの余白を消す*/
  height: 100vh; /*変更した モニターのサイズに対して何%の大きさにするか*/
}

.header img {
  width: 800px;
  padding-top: 300px; /*変更した 上から何ピクセルか*/
}
body{
  background-color: #8c845c;
}
.sloganjan{
  font-size: 60px;
}
.slogandayo{
  color: white;
  background-color: #5c5c44;
  margin: 40px 120px;
  padding: 24px;
  border-radius: 50px;
}
.slogan{
  display: flex;
  align-items: center; /*変更した 縦向きで真ん中に寄せる*/
}

.slogan .logo_white img {
  width: 100%;
  height: auto;
}

.slogan .logo_white {
  width: 40%; /*変更した sloganの中で横幅何%を表示するか*/
  padding-right: 20px; /*変更した 画像と線の間に余白を作る*/
}

.slogan .moji {
  width: 60%; /*変更した sloganの中で横幅何%を表示するか*/
  border-left: white solid 2px; /*変更した 線を作る*/
  padding-left: 20px; /*変更した 線と文字の間に余白を作る*/
}
.moji a{
  color: white; /*変更した aタグの文字の色を白にする*/
}