.home {
  background-image: url(./tuki/wa/bg.jpg);
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin: -8px;
  background-position: center;
}

.home img {
  width: 800px;
  padding-top: 300px;
}

.bg {
  background-color: #8e835f;
  margin: -30px -8px;
}
.slogan .content img{
  width: 500px;
}
.slogan{
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.325);
  border-radius: 30px;
  padding: 15px;
  color: white;
}
.slogan h1{
  margin: 0px;
}